<%= form_with url: '/top/login', method: :post, local: true do |f| %>
  <p>
    <%= f.label :uid, 'UID' %><br>
    <%= f.text_field :uid %>
  </p>

  <p>
    <%= f.label :password, 'パスワード' %><br>
    <%= f.password_field :password %>
  </p>

<%= f.submit 'ログイン' %>
<% end %>

<%= link_to "ユーザー登録", new_user_path %>
<%= link_to "ユーザ一覧" , users_path %>