<%= form_with model: @user, local: true do |f| %>
  <p>
    <%= f.label :uid, 'UID' %><br>
    <%= f.text_field :uid %>
  </p>

  <p>
    <%= f.label :password, 'パスワード' %><br>
    <%= f.password_field :password %>
  </p>

  <p>
    <%= f.label :password_confirmation, 'パスワード（確認）' %><br>
    <%= f.password_field :password_confirmation %>
  </p>

  <p>
    <%= f.submit '作成' %>
  </p>
<% end %>

<%= link_to "戻る", top_main_path %>
